<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>NPRScraperLite</title>
</head>
<body style="background-color: rgba(179, 213, 182, 0.646)">
   <nav class=" navbar navbar-dark bg-dark"> <h1 class="text-warning">NPRScraperLite</h1> <button onclick="window.location.href = '/scrape' " class="btn-lg btn-warning "><b>Scrape NPR For Articles</b></button><button onclick="window.location.href = '/delete' " class="btn-lg btn-danger "><b>Remove Articles</b></button></nav>

    {{{body}}}
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>