<div class="container">
<div class="row">
    <div class="col-6">
        <div style="padding-top: 100px;" id="scrapedData">
        </div>
    </div>
    <div class="col-6">
        <div style="padding-top: 100px;" id="noteBox">
        </div>
    </div>
</div>
</div>